.btn-outline-primary.btn-close {
    padding: 6px 14px;
}

.form-check label {
    padding-left: 1rem;
}

.btn-outline-primary.active {
    background: #166c9b!important;
    color: #fff;
}

.btn-outline-primary.active i {
    background: #166c9b!important;
    color: #fff;
}

.tabs_bar .tab.active {
    color: #166c9b;
    padding: 1.5rem 2rem 1rem 2rem;
    border-bottom: 2px solid #166c9b;
    font-size: 1.5rem !important;
}

.checkbox-container {
    gap: 1rem; /* Adjust the spacing between items as needed */
    margin: 0;
}

.risultati span {
    font-size: 1.5rem;
    font-weight: 500;

}

.risultati .selezionato {
    color: #024296;
}

td.cell-cartella a {
    font-size: 1.8rem;
    color: #252525;
    text-align: left;
    font-weight: 500;
}

.hidden-column, .hidden-row {
    display: none;
}